<!-- <div class="hero-unit">
  <h1>Go Stylish</h1>
  <p id="tagline">
    "Add style to your wardrobe. Select from our exclusive store" 
  </p>
</div> -->

<%= render :partial => "carousel" %>

<%= render :partial => "trends/latest_trends"%>
