<% if !cart.nil? %>
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cart (<%= cart.size %>)</a>
  <% if cart.line_items.size > 0 %>
    <div id="user_cart" class="dropdown-menu">
      <div class="well">
        <% cart.line_items.each do |item| %>
          <span><%= image_tag item.product.images[0].path_url(:thumb) %> <%= item.product.name %> (<%= item.quantity %>)</span><br/>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
